*.root
*.log
*.dat
*.so
*.o
*.a
*.d
*.pdf
*.out
*.png
*.swp
src/tmp/
src/lib/
src/CVS/
conf/CVS/
param/CVS/
lib/
bin/
CVS/
logs/
knucl4.10/Magnet_Field_Doraemon_3.txt
knucl4.10/build/Magnet_Field_Doraemon_3.txt
knucl4.10_cvs/
knucl4.10_kwsk/ 
knucl4.10_sakuma/	          
knucl4.10/build/CMakeFiles/
knucl4.10/CMakeFiles/*
knucl4.10/build/CMakeFiles/*
